#text {
    display:none;
}

body {
    padding:0;
    margin:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size:15rem;
}

h1 {
    background: rgb(36,185,51);
    background: linear-gradient(129deg, rgb(0, 0, 0) 13%, rgb(0, 0, 0) 41%, rgb(0, 0, 0) 61%, rgb(0, 0, 0) 89%);
    background-clip: text;
    color: transparent;
    font-size: 5rem;
    animation: slidein 2s forwards;
}

@keyframes slidein {
    from {
        opacity:0;
        transform: translatex(-100%);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}